@using WebApplication2.ViewModels;
@model CreateQuestionnaireViewModel

<input data-repeater-create type="button" class="btn btn-success inner" value="Add Question" id="btn1" />


@* <partial name="_AddQuestion" for="questionViewModels" /> *@



<div id="addQuestion"></div>


 <script>
    $(document).ready(function () {
        $("#btn1").click(function () {
            @Model.questionViewModels.
            $.get("/Home/AddQuestion", function (data) {
                $("#addQuestion").append(data);
            });
        });
    });

            // drawPatrialView("/Home/AddQuestion", "addQuestion");
</script>

