@using WebApplication2.Models.API.Questionnaires;
@model IEnumerable<Response>


<div class="modal-body">
    <div class="col-sm-12">
        <ol>
        @foreach (var item in Model)
        {
            @if (item.response != null)
            {

                    <h2>
                    <li><strong>@item.question</strong></li></h2>
                <ul>

                    @foreach (var res in item.response)
                    {
                        <li><p>@res</p></li>
                    }

                </ul>
            }
        }
        </ol>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">@Localization.Close</button>
</div>