@model int
@{
    ViewBag.Title = Localization.DetailQ;
    ViewBag.pTitle = Localization.DetailQ;
    ViewBag.pageTitle = Localization.Questionnaires;
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-xl-12">
        <div class="card mb-0">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#about" role="tab">
                        <i class="uil-eye font-size-20"></i>
                        <span class="d-none d-sm-block">@Localization.View</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#tasks" role="tab">
                        @* <i class="uil uil-tornado font-size-20"></i> *@
                        <i class="uil-info-circle font-size-20"></i>
                        <span class="d-none d-sm-block">@Localization.Results</span>
                    </a>
                </li>

            </ul>
            <!-- Tab content -->
            <div class="tab-content p-4">
                <div class="tab-pane active" id="about" role="tabpanel">
                    <div id="questionnaire"></div>
                </div>

                 <div class="tab-pane" id="tasks" role="tabpanel">
                    <div id="questionnaireResponses"></div>
                </div> 


            </div>

        </div>

        <div class="row my-4">
            <div class="col">
                <a href=@Url.Action("Index", "Home") class="btn btn-link text-muted">
                    <i class="uil uil-arrow-left me-1"></i> @Localization.Questionnaires
                </a>
            </div> <!-- end col -->
        </div> <!-- end row-->

    </div>
</div>

<script>
    drawPatrialViewWithLoad("/Home/GetInfoQuestionnaire/" + @Model, "questionnaire");
    drawPatrialView("/Home/QuestionnaireStatistic/" + @Model, "questionnaireResponses");
</script>