@using WebApplication2.Models.API;
@model IEnumerable<Questionnaire>


@{
    ViewData["Title"] = "Questionnaires";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<script src="~/js/app.js"></script>
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
@* <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" /> *@
@* 
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> *@

<div class="row">
    <div class="col-xl-12">
        <div class="button-items">
            <a type="button" style="margin-bottom: 25px;" class="btn btn-success waves-effect waves-light" href="@Url.Action("Upsert", "Home", new {id = 0})"><i class="mdi mdi-plus me-1"></i> Add Questionnaire</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="5%" height="10%">Detail</th> @*QuestionsCount*@
                            <th width="5%">Edit</th>
                            <th width="5%">Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td height="10%">@item.name</td>
                                <td>
                                    <a style="width: 100%;" href="@Url.Action("Detail", "Home", new {id = item.oid})" type="button" class="btn btn-outline-info waves-effect waves-light"><i class="uil-info-circle font-size-18"></i> See more!</a>
                                </td>
                                <td>
                                    @* <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/Home/Edit/'+@item.oid, 'lgModalBody')">Edit</button> *@
                                    <a style="width: 100%;" href="@Url.Action("Upsert", "Home", new {id = item.oid})" class="btn btn-primary waves-effect waves-light"><i class="bx bx-edit"></i></a>
                                </td>
                                <td>
                                    <button type="button" style="width: 100%;" class="btn btn-danger waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl" onclick="drawPatrialView('/Home/Delete/'+@item.oid, 'xlModalBody')"><i class="uil-trash-alt"></i>Delete</button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>


<script>
    $(document).ready(function () {
        // Проверяем, инициализирована ли уже таблица DataTable
        if ($.fn.DataTable.isDataTable('#datatable')) {
            // Если да, уничтожаем текущую инициализацию
            $('#datatable').DataTable().destroy();
        }
        
        // Инициализируем DataTable с вашими настройками
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [1, 2, 3] }
            ]
        });
    });

</script>