@using WebApplication2.ViewModels;
@model GenerateLicenseViewModel
<form method="post" asp-action="CreateLicence" asp-controller="License">
    <div class="row mb-4">
        <label asp-for="quantity" class="form-label">@Localization.quantity</label>
        <div class="col-md-10 col-8">
            <input asp-for="quantity" type="number" class="form-control"  placeholder="@Localization.quantityText:" min="1">

        </div>
        <div class="col-md-2 col-4 d-grid">
            <button type="submit" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> @Localization.Create</button>
        </div>
    </div>
</form>



