@using WebApplication2.ViewModels;
@model GenerateLicenseViewModel
<form method="post" asp-action="CreateLicence" asp-controller="License">
    <div class="row mb-4">
    <label asp-for="quantity" class="form-label">Quantity</label>
        <div class="col-md-10 col-8">
            <input asp-for="quantity" type="text" class="form-control" required placeholder="Enter your number: ">
        </div>
        <div class="col-md-2 col-4 d-grid">
            @* <input data-repeater-delete type="button" class="btn btn-primary btn-block inner" value="Delete" /> *@
            <button type="submit" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> Create</button>
        </div>
    
    @* <button type="submit" class="submit-button">Create</button> *@
    </div>
</form>