@using WebApplication2.Models.API.License;
@model License


<div class="modal-body">
    <div class="col-sm-12">
        <div class="form-container">
            <h2>License Details</h2>
            <p><strong>DataTime Activated:</strong> @Model.licenseActivated</p>
            @if (Model.licenseStatus == 0)
            {
                <p><strong>Status:</strong> NotActivated</p>
            }
            else if (Model.licenseStatus == 1)
            {
                <p><strong>Status:</strong> Active</p>
            }
            else
            {
                <p><strong>Status:</strong> Disabled</p>
            }
            <p><strong>Device model:</strong> @Model.deviceModel</p>
            <p><strong>Device name:</strong> @Model.deviceName</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
</div>
