<!doctype html>
<html lang="en">

<head>

    @await Html.PartialAsync("~/Views/_Shared/_title_meta.cshtml")
    @await Html.PartialAsync("~/Views/_Shared/_head_css.cshtml")
    
</head>

<body class="authentication-bg">
    @RenderBody()

    @RenderSection("scripts", required: false)
    <!-- App js -->
    @await Html.PartialAsync("~/Views/_Shared/_vendor_scripts.cshtml")

</body>
</html>