<div id="lgModal" class="modal fade bs-example-modal-lg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="lgModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="LargeModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="lgModalBody" class="modal-body">

                <div id="errorAlert" class="alert alert-danger" role="alert" hidden>
                    <h5 class="text-danger alert-link"><i class="uil uil-exclamation-octagon text-danger"></i>Error</h5>
                    <span id="errorText" class="text-danger"></span>
                </div>

                <div id="warningAlert" class="alert alert-warning" role="alert" hidden>
                    <h5 class="text-warning alert-link"><i class="uil uil-exclamation-triangle text-warning"></i> Warning</h5>
                    <span id="warningText" class="text-danger"></span>
                </div>

                <div id="spinner-content" class="d-flex justify-content-center">
                    <div class="" name="Growing-Spinners">
                        <div class="spinner-grow text-primary" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-warning" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Begin fullscreen modal -->

<div id="xlModal" class="modal fade bs-example-modal-xl" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="xlModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="ExtraLargeModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div id="xlModalBody" class="modal-body">

                <div id="errorAlert" class="alert alert-danger" role="alert" hidden>
                    <h5 class="text-danger alert-link"><i class="uil uil-exclamation-octagon text-danger"></i>Error</h5>
                    <span id="errorText" class="text-danger"></span>
                </div>

                <div id="warningAlert" class="alert alert-warning" role="alert" hidden>
                    <h5 class="text-warning alert-link"><i class="uil uil-exclamation-triangle text-warning"></i> Warning</h5>
                    <span id="warningText" class="text-danger"></span>
                </div>

                <div id="spinner-content" class="d-flex justify-content-center">
                    <div class="" name="Growing-Spinners">
                        <div class="spinner-grow text-primary" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-secondary" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-warning" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-info" role="status" style="height:3rem;width:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
