<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href=@Url.Action("Index", "Home") class="logo logo-dark">
            <span class="logo-lg">
                <img src="~/assets/images/intelectsoft/logo/IS-long-green.svg" alt="" height="125" style="margin-top: -36px; margin-bottom: -40px; margin-left: -15px;">
            </span>
            <span class="logo-sm">
                <img src="~/assets/images/intelectsoft/logo/IS-small-green.svg" alt="" height="75" style="margin-left: -40px;">
            </span>
        </a>

    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href=@Url.Action("Index", "Home")>
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end"></span>
                        <span>@Localization.Questionnaires</span>
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("Index", "License")>
                        <i class="uil uil-clipboard-notes font-size-20"></i><span class="badge rounded-pill bg-primary float-end"></span>
                        <span>@Localization.Licenses</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
