@model Exception
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_Shared/_BlankLayout.cshtml";
}
<div class="my-5 pt-sm-5">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h4 class="text-uppercase mt-4">Error</h4>
                    <p class="text-uppercase mt-4">Message: @Model.Message</p>
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-sm-10">
                                <div class="error-img">
                                    <img src="~/assets/images/error.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>