@using WebApplication2.Models.API;
@model IEnumerable<Questionnaire>


<div>
    <h5 class="font-size-16 mb-3">Active</h5>

    <div class="table-responsive">
        <table class="table table-nowrap table-centered">
            <tbody>
                @foreach (var questionnaire in Model)
                {
                    <tr>
@*                         <td style="width: 60px;">
                            <div class="form-check font-size-16 text-center">
                                <input type="checkbox" class="form-check-input" id="tasks-activeCheck2">
                                <label class="form-check-label" for="tasks-activeCheck2"></label>
                            </div>
                        </td> *@
                        <td>
                            <a href="#" class="fw-bold text-dark">@questionnaire.name</a>
                        </td>

                        <td>27 May, 2020</td>
                        <td style="width: 160px;"><span class="badge bg-soft-primary font-size-12">Active</span></td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>